# Ignore node modules & dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build and cache outputs
.next
out
dist
.cache

# Environment & local files
.env
.env.local
.env.development
.env.production
.DS_Store

# Logs & temporary files
logs
*.log
*.pid
*.seed
*.pid.lock

# Git & IDE files
.git
.gitignore
.vscode
.idea

# Tests & coverage
coverage
__tests__
jest.config.js
